#main {
}

#details {
    background-image: url("images/Slide6.jpg");
    vertical-align: center;
    background-size: cover;
    color: #012012;
    padding: 50px 10px;
    font-size: 20px;
    position:relative;
    height: auto;
    font-family: "Arial Black", cursive;
    text-align: center;
    align-self: center;
}

.emp-letter1 {
    font-size: 60px;
    color: #efffff;
}

.emp-letter1:hover {
    font-size: 60px;
    color: purple;
}

.emp-letter2 {
    font-size: 45px;
    color: #d45a08;
    width: 100%;
    font-family: "AR ESSENCE", serif;
    position: relative;
}

h1.emp-letter2 {
    font-size: 80px;
}

.nav {
    color: black;
    position: relative;
}

.nav-item {
    position: relative;
    padding: 3% 3%;
    color: white;
    font-size: 20px;
    background-color: #00000000;
    border: 1px transparent;
    font-family: "Arial Black";

}

.nav-item:hover {
    background-color: #11111111;
    color: #d45a08;
}

#title {
    padding-left: 25%;
    font-size: 30px;
}

#nav {
    background-color: rgba(16, 48, 255, 0.29);
    background-image: url("images/Slide4.JPG");
    height: 720px;
    background-size: cover;
}

a {
    text-decoration: none;
    color: #d45a08;
}

p, li {
    font-size: large;
}

p {
    text-space: 10px;
}

#Heading {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-direction: column;

    height: 600px;
    color: white;
    font-size: 50px;
}

#head {
    vertical-align: center;
}

#Enroll-button {
    background-color: #d45a08;
    font-size: 45px;
    width: fit-content;
    border: transparent;
    padding: 15px;
    border-radius: 7px;
    color: #efffff;

    align-self: center;
}

#Enroll-button:hover {
    background-color: white;
    color: orange;
}

rule {
    font-size: 20px;
    display: block;
    text-indent: 50px;
    font-family: "Arial Black", monospace;
}

rule::after {
    content: "\a";
}
rule::before {
    content: "\000009\000009\002022\000009";
    font-size: larger;
}

#treasure {
    align-self: center;
    background-size: cover;
    color: #ffffff;
    padding: 5%;
    font-size: 25px;
    position: relative;
    height: min-content;
    width: available;
    background-image: url("images/Slide5.jpg");
}

.rules {
    position: relative;
    left: 15%;
}

#event2 {
    align-self: center;
    background-size: cover;
    color: #000000;
    font-size: 25px;
    position: relative;
    height: auto;
    width: available;
    background-image: url("images/Slide6.jpg");
}

#Contacts {
    background-size: cover;
    color: #effeef;
    padding: 1%;
    font-size: 25px;
    height: 50%;
    width: available;
    background-color: #000051;
}

